a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.round-btn-style, #memo-open, #post-edit {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 3px black;
          box-shadow: 0px 1px 3px black;
  z-index: 2;
  cursor: pointer;
}

.button-style-non, .header__btn, #memo-open, #post-edit, .memo-contents__btn, .review-contents__btn, .description-contents__btn {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.disable {
  display: none;
}

#global-container {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#container {
  position: relative;
  background-color: white;
  height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  overflow: auto;
}

.header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0099CC;
  line-height: 50px;
  position: fixed;
  top: 0;
  z-index: 2;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
}

.header__btn {
  display: inline-block;
  width: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.header__btn > span {
  display: block;
  background-color: white;
  height: 2px;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.header__btn > span:last-child {
  margin-bottom: 0;
}

.header__empty {
  display: none;
}

.header__top {
  color: white;
  cursor: pointer;
  margin-left: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__home {
  margin-left: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  cursor: pointer;
}

.header__back {
  margin-right: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  cursor: pointer;
}

.header__login {
  margin-right: 20px;
}

.menu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 150px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.menu__title {
  border-bottom: 1px solid black;
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, -1000px);
          transform: translate3d(0, -10px, -1000px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 15px;
  width: 80px;
  visibility: hidden;
  margin: 0 auto;
}

.menu div {
  -webkit-transform: translate3d(0, -10px, -1000px);
          transform: translate3d(0, -10px, -1000px);
  margin: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
}

.menu div a {
  color: black;
  display: block;
}

.opened #container {
  margin-left: 150px;
  -webkit-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.3);
}

.opened #container .header__btn > span:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.opened #container .header__btn > span:nth-child(2) {
  -webkit-transform: translateX(-20px) scaleX(0);
          transform: translateX(-20px) scaleX(0);
}

.opened #container .header__btn > span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.opened .menu__title {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}

.opened .menu div {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  visibility: visible;
}

.opened .menu div:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.opened .menu div:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.opened .menu div:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.opened .menu div:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.opened .menu div:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.opened .menu div:hover a {
  color: #0099CC;
}

#memo-open {
  background-color: #0099CC;
}

#memo-open > span {
  display: block;
  background-color: white;
  width: 25px;
  height: 2px;
  margin: auto;
}

#memo-open > span:nth-child(1) {
  -webkit-transform: translateY(2px) rotate(90deg);
          transform: translateY(2px) rotate(90deg);
}

#memo-open:hover {
  opacity: 0.8;
}

#memo-open:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#post-edit {
  background-color: #00AA00;
}

#post-edit > span {
  display: block;
  background-color: white;
  width: 20px;
  height: 2px;
  margin: auto;
  margin-bottom: 5px;
}

#post-edit > span:last-child {
  margin-bottom: 0;
}

#post-edit:hover {
  opacity: 0.8;
}

#post-edit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-contents {
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.main-contents__post {
  position: relative;
  width: 100%;
  border-bottom: 1px solid black;
}

.main-contents__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: right;
}

.main-contents__cover button {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #FF0066;
  border-radius: 3px;
}

.main-contents__cover button > span {
  margin: auto;
  display: block;
  width: 15px;
  height: 2px;
  background-color: black;
}

.main-contents__cover button > span:nth-child(1) {
  -webkit-transform: translateY(2px) rotate(45deg);
          transform: translateY(2px) rotate(45deg);
}

.main-contents__cover button > span:nth-child(2) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.main-contents__text {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-contents__link {
  display: inline-block;
  font-weight: 600;
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
}

.main-contents__link:hover {
  color: #0099CC;
  opacity: 0.8;
}

.main-contents__description {
  font-size: 14px;
}

.main-contents__review {
  margin: 10px 0;
  text-align: center;
}

.main-contents__btn {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #0099CC;
  -webkit-box-shadow: 0px 2px black;
          box-shadow: 0px 2px black;
}

.main-contents__btn:hover {
  opacity: 0.9;
}

.main-contents__btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.memo-contents {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 50px 80px 0px 80px;
  text-align: center;
  height: 100%;
}

.memo-contents > div {
  margin-top: 20px;
  width: 100%;
}

.memo-contents > div:last-child {
  width: 35%;
  margin-top: 30px;
}

.memo-contents__label {
  margin: 5px;
}

.memo-contents__input {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 14px;
}

.memo-contents__textarea {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 20px;
}

.memo-contents__btns {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.memo-contents__btn {
  display: inline-block;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px black;
          box-shadow: 0px 2px black;
}

.memo-contents__btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.memo-contents__btn:nth-child(1) {
  background-color: #FF0066;
}

.memo-contents__btn:nth-child(2) {
  background-color: #00AA00;
}

.review-contents {
  padding: 50px 80px 0px;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.review-contents__question {
  margin-top: 30px;
}

.review-contents__statement {
  margin-top: 20px;
  padding: 10px;
  border: 1px #0099CC solid;
  border-radius: 5px;
}

.review-contents__answer {
  margin-top: 30px;
  text-align: center;
}

.review-contents__text {
  margin: 20px auto 10px;
  padding-left: 5px;
  display: block;
  border: 1px #0099CC solid;
  border-radius: 5px;
  text-align: center;
}

.review-contents__title {
  margin: 0 auto;
  border-bottom: 1px black double;
  width: 50px;
}

.review-contents__btn {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #0099CC;
  -webkit-box-shadow: 0px 2px black;
          box-shadow: 0px 2px black;
}

.review-contents__btn:hover {
  opacity: 0.9;
}

.review-contents__btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.description-contents {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

.description-contents__main {
  width: 300px;
  max-height: 300px;
  border: 1px #0099CC solid;
  border-radius: 5px;
  background-color: white;
}

.description-contents__answer {
  padding: 10px 5px;
}

.description-contents__title {
  margin: 10px 5px;
}

.description-contents__text {
  margin: 0 20px 10px;
  padding: 10px;
  border: 1px black solid;
  border-radius: 5px;
}

.description-contents__btn {
  padding: 5px;
  border-radius: 2px;
  color: white;
  background-color: #0099CC;
  margin-bottom: 10px;
}

.description-contents__btn:hover {
  opacity: 0.9;
}

.description-cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}

@media (min-width: 650px) {
  .header__btn {
    display: none;
  }
  .header__empty {
    display: inline-block;
  }
  .menu {
    z-index: 10;
    width: 150px;
    height: 100%;
    border-right: 1px solid black;
  }
  .menu__title {
    margin: 30px auto 0;
    -webkit-transform: none;
            transform: none;
    visibility: visible;
    opacity: 1;
  }
  .menu div {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    visibility: visible;
  }
  .main-contents {
    margin: 0 0 0 auto;
    width: calc(100vw - 150px);
  }
  .review-contents {
    margin: 0 0 0 auto;
    width: calc(100vw - 150px);
  }
}
/*# sourceMappingURL=styles.css.map */