.header {
  &__btn {
    // @extend .disable;
    display: none;
  }
  &__empty {
    display: inline-block;
  }
}

.menu {
  z-index: 10;
  width: 150px;
  height: 100%;
  border-right: 1px solid $cBlack;
  &__title {
    margin: 30px auto 0;
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  & div {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
}

.main-contents {
  margin: 0 0 0 auto;
  width: calc(100vw - 150px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  &__post {
    display: inline-block;
    flex-basis: 47%;
    max-width: 290px;
    height: 175px;
    border: 1px solid $cBlue;
    border-radius: 5px;
    margin: 30px 10px 0 10px;
  }
  &__description {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.review-contents {
  margin: 0 0 0 auto;
  width: calc(100vw - 150px);
}

.memo-contents {
  &__btns {
    max-width: 180px;
  }
}
